.nav_theme_4 {
    background-color: transparent;
    display: flex;
    height: 50px;
    max-width: 80%;
    border-bottom: 1px solid #c3bdbd;
}

body {
    background: #d8cdcded;
}


.nav_theme_4 .nav__btn_img {
    background-color: #d8cdcded;
    background-image: url(/img/menu_gray.png);
    background-repeat: no-repeat;
    background-position: center;
}

.nav_theme_4 .nav__menu_list_item {
    color: #716f6f;
    font-weight: bold;
}

.nav_theme_4 .nav__menu_list_item:hover {
    border-bottom: 3px solid #85a947;
    background: #d8cdcded;
    color: #85a947;
}

.nav_theme_4 .nav__search_bar {
    background: #d8cdcded;
    background-image: url(/img/search_dark.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.nav_theme_4 .nav__search_bar:hover {
    background: #d8cdcded;
    background-image: url(/img/search_green.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.nav_theme_4 .nav__search:hover {
    border-bottom: 3px solid #85a947;
    cursor: pointer;
    height: 48px;
}